<!doctype html>
<html lang="en">


<head>
  {%load static%}
  <meta charset="utf-8">
  <title>Commandes</title>
  <link rel="stylesheet" type="text/css" href="{%static 'stock/style.css' %}">
  <script src="script.js"></script>
</head>


<body>
        <div class = separation > 
                <a class=menu href=/stock> Stock</a>
                <a class = menu href=/vide> Futs-vides</a>
                <a class = menu href=/gaz> Gaz</a>
                <a class = menu href=/commandes> Commandes</a>
                <a class = menu href=/stock/prix> Prix </a>
            </div>
        <pre>

        </pre>
        <div class=menu align='center' > Commandes</div>
        <table> <!-- tableau pour commander des futs pleins-->
                <caption><div class=titre>Etat des stocks</div></caption>
                <thead>
                  <tr>
                  <th>Marque</th>
                  <th>Volume</th>
                  <th>Futs pleins</th>
                  <th>Futs entamés</th>
                  </tr>
                </thead>
                <tbody>
                    {%for biere in fut%}
                        <tr> 
                                <td> {{biere.marque}} </td>
                                <td> {{biere.volume}} L </td>
                                <td> {{biere.nb_plein}} </td>
                                <td> {{biere.nb_entame}} </td>
                                <td> <form action="/commandes/ajouts/{{biere.id}}/?query=action_page.php">  <!-- cellule du tableau où l'utilisateur peut indiquer le nombre de futs pleins voulu -->
                                        Indiquez la quantité: <input type="text" name="query" value="0"><br>
                                        <input type="submit" value="Ajouter">
                                    </form> </td>
                        </tr>
                    {%endfor%}
                </tbody>
        </table>
        <table> <!-- tableau pour commander des bouteilles de gaz-->
                        <caption><div class=titre>Etat des bouteilles de gaz<div></caption>
                        <thead>
                          <tr>
                          <th>Pleins</th>
                          <th>Entamés</th>
                          <th>Vides </th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for bouteille in gaz%}
                        <tr> 
                            <td> {{bouteille.nb_plein}} </td>
                            <td> {{bouteille.nb_entame}} </td>
                            <td> {{bouteille.nb_vide}} </td>
                            <td> <form action="/commandes/ajouts_gaz/?query=action_page.php">               <!-- cellule du 2º tableau où l'utilisateur peut indiquer le nombre de bouteilles de gaz pleines voulues -->
                                    Indiquez la quantité: <input type="text" name="query" value="0"><br>
                                    <input type="submit" value="Ajouter">
                                </form> </td>
                        </tr> 
                        {%endfor%}
                        </tbody> 
        </table>

<a href=/ class=menu> Accueil</a>
</body> 
</html>     
