<!doctype html>
<html lang="fr">


<head>
    {%load static%}
  <meta charset="utf-8">
  <title>Gaz</title>
  <link rel="stylesheet" type="text/css" href="{%static 'stock/style.css' %}">
  <script src="script.js"></script>
</head>


<body>  <!-- page avec tableau pour brancher/retirer des bouteilles de gaz-->
        <div class=separation>
                <a class = menu href=/stock> Stock</a>
                <a class = menu href=/vide> Futs-vides</a>
                <a class = menu href=/gaz> Gaz</a>
                <a class = menu href=/commandes> Commandes</a>
                <a class = menu href=/stock/prix>Prix </a>
            <pre>


            </pre>
            </div>
            <pre></pre>
        <div class=menu align='center' > Gaz</div>
        <pre></pre>
        <table>
            <caption> <div class=titre> Etat des bouteilles de gaz </div> </caption>
            <thead>
              <tr>
              <th>Pleins</th>
              <th>Entamés</th>
              <th>Vides </th>
              </tr>
            </thead>
            <tbody>
                {%for bouteille in gaz%}
                <tr>
                        <td> {{bouteille.nb_plein}} </td>
                        <td> {{bouteille.nb_entame}} </td>
                        <td> {{bouteille.nb_vide}}</td>
                        <td><a class=bouton href="/commandes/brancher_gaz/">BRANCHER </a></td>
                        <td><a class=bouton href="/commandes/retirer_gaz/">RETIRER </a></td>       
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer><a href=/ class=menu> Accueil</a></footer>
</body>
</html>
