<!DOCTYPE html>
<html lang="en">
    
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{%static 'stock/accueil.css' %}">
</head>

<body>
    <div class=separation>  <!-- Boutons pour accéder aux différentes pages du site--> 
        <a class = menu href=/stock> Stock</a>
        <a class = menu href=/vide> Futs-vides</a>
        <a class = menu href=/gaz> Gaz</a>
        <a class = menu href=/commandes> Commandes</a>
        <a class = menu href=/stock/prix> Prix </a>
    </div>
</body>

</html>

