<!doctype html>
<html lang="fr">

{%load static%}
<head>
  <meta charset="utf-8">
  <title>Prix</title>
  <link rel="stylesheet" type="text/css" href="{%static 'stock/style.css' %}">
  <script src="script.js"></script>
</head>


<body>
        <div class=separation>
                <a class = menu href=/stock> Stock</a>
                <a class = menu href=/vide> Futs-vides</a>
                <a class = menu href=/gaz> Gaz</a>
                <a class = menu href=/commandes> Commandes</a>
                <a class = menu href=/stock/prix> Prix </a>
            </div>
            <pre></pre>
        <div class=menu  align='center'>Prix</div>
        <pre></pre>
<table> <!-- tableau avec les différents prix et taux d'alcool des bières-->
    <thead>
      <tr>
      <th>Marque</th>
      <th>Volume</th>
      <th>TAV</th>
      <th>Prix HT</th>
      <th>Prix TTC</th>
      <th>Prix réel</th>
      <th>Prix pinte</th>
      <th>Prix vente Musée</th>
      </tr>
    </thead>
    <tbody>
 
    {% for biere in futs %} <!-- on remplit à partir de la base de donnée-->
    <tr>
                <td> {{biere.marque}} </td>
                <td> {{biere.volume}} </td>
                <td> {{biere.TAV}} </td>
                <td> {{biere.prix_HT}} </td>
                <td> {{biere.prix_TTC}} </td>
                <td> {{biere.prix_reel}} </td>
                <td> {{biere.prix_pinte}} </td>
                <td> {{biere.prix_vente_Musee}} </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <footer> <a href=/ class=menu> Accueil</a></footer>
    </body>
    </html>