<!DOCTYPE html>
<html lang="en">
<head>
        {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'stock/retour.css' %}">
    <meta charset="UTF-8">
    <title>Retour</title>
</head>
<body>  <!-- page qui apparaît lorsqu'on ajoute des futs/bouteilles-->
    <pre></pre>
    <div>
    <div class=menu align='center'> C'est fait!</div>
    <a href=/commandes><div class=menu align="center">Retour</div></a> <!-- on retourne vers la page Commandes-->
    </div>
</body>
</html>
