<!DOCTYPE html>
<html lang="en">
<head>
        {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'stock/retour.css' %}">
    <meta charset="UTF-8">
    <title>Retour</title>

</head>
<body>  <!-- page qui apparaît lorsqu'on branche/retire des bouteilles-->
    <pre></pre>
    <div class=menu align='center'> C'est fait!</div>
    <pre></pre>
    <a href=/gaz><div class=menu align="center">Retour</div></a> <!-- on retourne vers la page Gaz-->
    
</body>
</html>
