<!DOCTYPE html>
<html lang="en">

<head>
  {%load static%}
  <meta charset="utf-8">
  <title>Stock</title>
  <link rel="stylesheet" type="text/css" href="{%static 'stock/style.css' %}">
  <script src="script.js"></script>
</head>


<body>
    <div class=separation> <!-- Boutons pour accéder aux différentes pages du site--> 
        <a class = menu href=/stock> Stock</a>
        <a class = menu href=/vide> Futs-vides</a>
        <a class = menu href=/gaz> Gaz</a>
        <a class = menu href=/commandes> Commandes</a>
        <a class = menu href=/stock/prix>Prix </a>
    </div>
    <pre></pre>
        <div class=menu align='center' > Stock</div>
        
    <pre>
    </pre>
    <table> <!-- tableau d'inventaire des futs avec boutons BRANCHER et RETIRER-->
        <caption><div class=titre>Etat des stocks</div> </caption>
        <thead>
          <tr>
          <th>Marque</th>
          <th>Volume</th>
          <th>Futs pleins</th>
          <th>Futs entamés</th>
          </tr>
        </thead>
        <tbody>
          {%for biere in fut %} <!-- on remplit le tableau à partir de la base de donnée -->
            <tr>
              <td> {{biere.marque}}</td>  
              <td> {{biere.volume}}</td>
              <td> {{biere.nb_plein}}</td>
              <td> {{biere.nb_entame}}</td>
              <td><a class=bouton href="/stock/brancher/{{biere.id}}/">BRANCHER </a></td> <!-- on récupère le fut_id pour la fonction views.brancher-->
              <td><a class=bouton href="/stock/retirer/{{biere.id}}/">RETIRER </a></td>
            </tr>
          {%endfor%}
          </tbody>
          </table>
          <footer><a href=/ class=menu> Accueil</a></footer>
</body>
</html>
