<!doctype html>
<html lang="fr">


<head>
   {%load static%}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{%static 'stock/style.css' %}">
  <script src="script.js"></script>
  <title>Futs-vides</title>
</head>


<body>
        <div class=separation>
                <a class = menu href=/stock> Stock</a>
                <a class = menu href=/vide> Futs-vides</a>
                <a class = menu href=/gaz> Gaz</a>
                <a class = menu href=/commandes> Commandes</a>
                <a class = menu href=/stock/prix> Prix </a>
        </div>
        <pre>

        </pre>
        <div class=menu align='center' > Futs vides</div>
        <pre></pre>
        <table> <!-- on remplit le tableau à partir des futs vides de la base de donnée-->
            <thead>
              <tr>
                <th>Volume</th>
                <th>Quantité</th>
              </tr>
            </thead>
            <tbody>
                    <tr> 
                        <td> 30 L</td>
                        <td>{{quantite_30}}</td>
                    </tr> 
                    <tr> 
                        <td> 50 L</td>
                        <td> {{quantite_50}} </td>
                    </tr>
            </tbody>
        </table>
</body>
<footer><a href=/ class=menu> Accueil</a></footer>
</html>
