html {
    font-family: sans-serif;
  }
body{
    background-image: url("imagefonda.gif");
    background-size:100%;
    background-repeat: no-repeat;
  }


.menu {
  font-size: 40px;
  color:white;
  text-decoration : None;
  font-family: Gill Sans MT;
}
.separation { word-spacing:150px;}

.titre{
  font-family: Gill Sans MT;
  color:white;
  font-size: 20px;}

.bienvenue{
    font-size: 80px;
    color:white;
    text-decoration : None;
    font-family: Gill Sans MT;
    text-align:center;
    vertical-align: middle;
}

.bouton{
  font-size: 20px;
  color:#ab2a3e;
  text-decoration : None;
  font-family: Gill Sans MT;

}