html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin:auto;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align:center;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
  
  body{
    background-image: url("barmanerreur.gif");
    background-size:100%;
    background-repeat: no-repeat;
  }
  .menu {
    font-size: 40px;
    color:white;
    text-decoration : None;
    font-family: Gill Sans MT;
  }
  .separation { word-spacing:150px;}
  
  footer{position: absolute; bottom: 0; left: 0; right: 0;}
  .titre{
    font-family: Gill Sans MT;
    color:white;
    font-size: 20px;}
  
    .bienvenue{
      font-size: 80px;
      color:white;
      text-decoration : None;
      font-family: Gill Sans MT;
      text-align:center;
      vertical-align: middle;
  }
  
  .bouton{
    font-size: 20px;
    color:#ab2a3e;
    text-decoration : None;
    font-family: Gill Sans MT;
  
  }