<!-- Estendemos do template base -->
{% extends "<!-- Estendemos do template base -->
{% extends "stock/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Funcionário</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Funcionário</code>.
          </p>
          <a href="{% url 'stock:cadastra_funcionario' %}"
             class="btn btn-primary">
            Novo Funcionário
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Funcionários</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Funcionários</code> cadastrados.
          </p>
          <a href="{% url 'stock:lista_funcionarios' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Funcionário</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Funcionário</code>.
          </p>
          <a href="{% url '<!-- Estendemos do template base -->
            {% extends "stock/_layouts/base.html" %}
            
            <!-- Bloco que define o <title></title> da nossa página -->
            {% block title %}Página Inicial{% endblock %}
            
            <!-- Bloco de conteúdo da nossa página -->
            {% block conteudo %}
            <div class="container mt-5">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cadastrar Funcionário</h5>
                      <p class="card-text">
                        Cadastre aqui um novo <code>Funcionário</code>.
                      </p>
                      <a href="{% url 'stock:cadastra_funcionario' %}"
                         class="btn btn-primary">
                        Novo Funcionário
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lista de Funcionários</h5>
                      <p class="card-text">
                        Veja aqui a lista de <code>Funcionários</code> cadastrados.
                      </p>
                      <a href="{% url 'stock:lista_funcionarios' %}"
                         class="btn btn-primary">
                        Vá para Lista
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}
            :cadastra_funcionario' %}"
             class="btn btn-primary">
            Novo Funcionário
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Funcionários</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Funcionários</code> cadastrados.
          </p>
          <a href="{% url 'stock:lista_funcionarios' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
